<h1>Your Characters Organized By Trait</h1>
<p><i>Click on a character to read more about them.</i></p>

<%@sorted_traits.each do |trait|%>
  <h3><%=trait.name%></h3>
  <%@user.characters.each do |character|%>
    <%if character.traits.include?(trait) %>
      <p><a href="/characters/<%=character.slug%>"><%=character.name%></a></p>
    <%end%>
  <%end%>
    <br>
<%end%>
