<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Login to Character Keeper</h1>
<form action="/login" method="post">
  <p><input type="text" name="username" placeholder="Username"></p>
  <p><input type="text" name="password" placeholder="Password"></p>
  <input type="submit" name="submit" value="Log In">

</form>
<br>
<p>Don't have an account yet? <a href="/signup"> Sign Up</a>!</p>
