<h1></a>Characters in Character Keeper</h1>
<br>
<%@sorted_characters.each do |character|%>
<h2><%=character.name%></h2>
<p><b>Book or Series: </b><i><%=character.book%></i></p>
<p><a href="/characters/<%=character.slug%>">more</a></p>
  <br>
<%end%>
